@media screen and (max-width: 900px) {
  .project{
    flex-direction: column;
   }
  }
  @media screen and (max-width: 700px) {
    .hideonmobile{display: none;}
    .menuicon{display: flex;}
    .logo {display: none;}
  
    #homepage {
     flex-direction: column;
     height:70vh;
    }
    #menu{
      z-index: 800;
    }
  .piccontainer{
    width: 175px;
    position: static;
    height: 100px;
    margin-left: -38px;
  }
  .piccontainer img{
width:200px;
height: 200px;  
}
    .title {
      font-size: 2rem;
    margin-left: -26px;
    }
    .skilltitle {
      margin-left: -10px;
  }
  .skillbars {
    margin: 40px -60px;
  }
    .experience{
      flex-direction: column;
    height: 750px;
    width: fit-content;
    margin: 44px -60px;
    }
    .education{
      margin-left:40px;
    }
    .jobs h2 {
      padding-left: 23px;
  }
  .education {
    margin-left: 35px;
}
.education h2 {
  padding-left: 0px;
}
.section__text__p1 {
  margin-left: -5px;
  }
  .color-container {
  margin: 15px -100px;
}
}
  @media screen and (max-width: 500px) {
 .about-right{
  height:800px;
 }

}
@media screen and (min-width: 992px){
  .about-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
  }

  .about-left{
      position: relative;
  }
  .about-left-content{
      position: absolute;
      width:80%
  
  }
}