.animaldetails {
  display: flex;
  flex-direction: column;
  box-shadow: 0 14px 28px #c6dcba, 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 44%;
  position: absolute;
  top: 50px;
  right: -90px;
  border-radius: 7px 2px 2px 7px;
  background: #c6dcba;
}
.animalpic {
  position: relative;
  top: 20px;
}
#name {
  text-align: center;
  /*background-color: #62a67763;*/
  box-shadow: 1px 2px 4px black;
}

.animal-container {
  display: flex;
}
h3 {
  padding: 0px;
  margin: 2px;
}
.animaldetails p {
  margin: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-image: url(./ourbackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 90px 150px;
  padding-top: 60px;
  box-sizing: border-box;
  margin: 0;
}
#animal-image {
  width: 50%;
}

button:active,
button:focus {
  outline: none;
}

/*Dialog Styles*/
:root {
  --vs-primary: 29 92 255;
}
dialog {
  padding: 1rem 3rem;
  background: white;
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1s ease both;
  &::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(10px);
  }
  .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
    &:hover {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }
  h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
  }
}

button {
  display: inline-block;
  font-size: 0.8rem;
  color: #fff !important;
  background-image: linear-gradient(1deg, #b4f0b8, #558455cf 99%);
  padding: 13px 25px;
  border-radius: 17px;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  transition: all 0.25s ease;
  border: 0;
  cursor: pointer;
  font-size: 90%;
  font-weight: 600;
  box-shadow: 0 10px 20px -10px #62a677;
  &:hover {
    box-shadow: 0 20px 20px -10px #94ffb6;
    transform: translateY(-5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.related-animals {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-top: 20px;
  padding-bottom: 20px;
  scrollbar-width: thin;
  gap: 20px; /* Adjust the gap between cards */
  scrollbar-color: #000000 transparent;
  transition: transform 0.5s ease;
}

.animal-carousel::-webkit-scrollbar {
  width: 15px;
}

.related-animals::-webkit-scrollbar-thumb {
  background-color: #bce0c7;
}
.animal-card {
  height: 220px;
  background: #c6dcbaad;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 10px;
  border-radius: 40px;
  display: inline-table;
  flex-direction: column;
  text-align: center;
  width: 230px; /* רוחב של הכרטיס */
  border: 6px solid #222c2600; /* גבול */
  margin: 10px; /* מרווח בין הכרטיסיות */
}
.carousel-container {
  position: relative;
  overflow: hidden;
  top: 150px;
  left: 0px;
  padding-bottom: 10px;
  text-align: center;
}
