@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    background-position: center;
    padding: 90px 150px;
    background: url(./zooimage2.jpg)no-repeat ;

    background-position: center center;
    background-size: cover;   
    padding:20%;
    font-family: "Poppins", sans-serif;
  }
  
  #placeholder {
    display: flex;
    margin: 0 auto;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

.card-body{
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width:200px;
}
.card{
  box-shadow: 2px 8px 11px grey;
  border: 70px;
  border-radius: 33%;}

.visitors-card {
    max-width: 250px;
    max-height: 100px;
    overflow: hidden;
    background: white;

    border-radius: 20px;
    animation: fade-in 0.4s ease-in forwards;
  
  }
  

  .visitors-card p {
    text-align: center;
    padding: 2px 6px;
  }
   
  .visitor-card img {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin: 7px 38px auto;
        max-width: 150px;
  }

  .card-text img{
    max-height: 30px;
    max-width: 30px;
  }